*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background: #053c85;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: brown;
    width: 600px;
    height: 400px;
}

.container, h1{
    margin-top: -200px;
    position: absolute;
    font-size: 55px;
}

button{
    width: 100px;
    height: 15px;
    margin-top: 25px;
    cursor: pointer;
}

.plus{
    position: absolute;
    margin-top: 100px;
    margin-left: -250px;
}

.minus{
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
}

.score{
    background: burlywood;
    height: 200px;
    width: 200px;
}